{% extends "base.html" %}
{%block title%}
Contratos
{%endblock%}
{%block content%}
<div class="container mt-5">
    <div class="row align-items-center m-10 text-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Meus Contratos</h4>
                    <p class="card-text">Lista de contratos de sua franqueada</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for contrato in contratos %}
                    <!--Modal do meu contrato-->
                    <div class="modal fade" id="id{{contrato.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{contrato.nome}} - R${{contrato.valor}}</h5>
                            </div>
                            <div class="modal-body">
                                <p>{{contrato.descricao}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="#close{{contrato.id}}" onclick="closeModal({{contrato.id}})">Fechar</button>
                            </div>
                            </div>
                        </div>
                    </div>
                   <!--Cabeçalho do Contrato-->
                   <a data-toggle="modal" data-target="#id{{contrato.id}}">
                        <li class="list-group-item">
                            {{contrato.nome}} - R${{contrato.valor}}
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 text-center mt-5 mb-5">
            <a href="/cadastro_contrato" type="button" class="btn btn-primary text-center">Adicionar Contrato</a>
        </div>
    </div>
</div>
{%endblock%}