{% extends "base.html" %}
{%block title%}
WebBurguer
{%endblock%}
{%block content%}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container-fluid">
                        <div class="jumbotron">
                            <h1 class="display-3">{{ franqueada }}</h1>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quidem ullam, corrupti suscipit quia alias quam atque nihil labore ex?</p>
                            <hr class="my-2">
                            <div class="container-fluid">
                                <div class="row p-4">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body bg-light">
                                                <h3 class="card-title">Produtos Cadastrados</h3>
                                                <h4 class="card-Quantidade">Quantidade</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body bg-light">
                                                <h3 class="card-title">Pedidos</h3>
                                                <h4 class="card-Quantidade">Quantidade</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-4">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body bg-light">
                                                <h3 class="card-title">Contratos</h3>
                                                <h4 class="card-Quantidade">Quantidade</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body bg-light">
                                                <h3 class="card-title">Funcionários</h3>
                                                <h4 class="card-Quantidade">Quantidade</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}