{% extends "registration/base_login.html" %}
{%block title%}
WebBurguer
{%endblock%}
{%block content%}
<div class="jumbotron text-center">
    <h1 class="display-3">WebBurguer</h1>
    <img src="https://images.pexels.com/photos/2271107/pexels-photo-2271107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-responsive rounded" width="339px" height="210px" alt="Burguer">
    <p class="lead">Você deseja fazer parte da primeira franquia de burguers <strong>virtual</strong> do mercado?</p>
    <hr class="my-2">
    <p>Realize este pequeno cadastro e já começe a fazer parte desse grande negócio</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/auth/cadastro_franqueado" role="button">Seja um Franqueado</a>
    </p>
</div>
{%endblock%}