{% extends "base.html" %}
{%block title%}
Pedidos
{%endblock%}
{%block content%}
<div class="container h-100">
    <div class="row align-items-center h-100 m-10">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Meus Pedidos</h4>
                    <p class="card-text">Acompanhe aqui os pedidos de sua franqueada</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for pedido in pedidos %}
                    <li class="list-group-item">
                        <div class="row d-flex justify-content-between">
                            {%if pedido.pago%}
                            <div>
                                <span class="badge badge-success">Pago</span> {{pedido}} - R${{pedido.total}}
                            </div>
                            {%else%}
                            <div>
                                <span class="badge badge-danger">Pendente</span> {{pedido}} - R${{pedido.total}}
                            </div>
                            <div>
                                <a href="/pagar_pedido/{{pedido.pk}}" class="btn btn-primary">Pagar</a>
                            </div>
                            {%endif%}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <a href="/cadastro_pedido" type="button" class="btn btn-primary text-center">Adicionar Pedido</a>
        </div>
    </div>
</div>
{%endblock%}