{% extends "base.html" %}
{%block title%}
Produtos
{%endblock%}
{%block content%}
<div class="container mt-5">
    <div class="row align-items-center m-90 text-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produtos WebBuruer</h4>
                    <p class="card-text">Lista de todos os produtos da nossa franquia</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for produto in produtos %}
                    <li class="list-group-item">
                        <div class="row d-flex justify-content-between text-center">
                           <div>
                            <img src="/webburguer_app/media/{{produto.imagem}}" width="100px" height="100px"alt="{{produto.nome}}" class="img-thumbnail rounded">
                           </div>
                            <div>
                                {{produto.nome}} - R${{produto.preco}}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 text-center mt-5 mb-5">
            <a href="/cadastro_produto" type="button" class="btn btn-primary text-center">Solicitar Produto</a>
        </div>
    </div>
</div>
{%endblock%}